# Android/Gradle
/.gradle/
**/build/
local.properties
*.iml
.idea/

# Termux/tmp & local downloads
*.bak
gradle-*/          # e.g. gradle-8.7/
*gradle-*.zip      # e.g. gradle-8.7-bin.zip

# OS noise
.DS_Store
Thumbs.db
